*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f8fa;
}
header{
    width: 100%;
    position: fixed;
    z-index: 100;
    /*position: absolute;*/
}

header nav{
    background-color: black;
    
}
header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: right;
}

header nav ul li a{
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-family: rale;
    font-weight: bold;
}

header nav ul li span{
    margin-right: 7px;

}

header nav ul li a:hover{
    background-color: rgba(255, 255, 255, .1);
}
.menu-bar{
    display: none;
}

.logo{
    display: block;
    /*background: blueviolet;*/
    float: left; 
    margin-top: 8px;
    padding-left: 25px;
}
.logo a{ 
    font-size: 35px;
   font-family: rale;
    text-decoration: none;
    color: white;   
  
}

.logo a:hover{
    color: rgb(0, 197, 197);
}

@font-face{
    font-family: rale;
    src: url(../letra/Raleway-Regular.ttf);
} 

section{
    padding: 20px;
    padding-top: 70px;
}

@media screen and (max-width: 900px){
    
    header nav{
        
        width: 60%;
        height: 100%;
         position: fixed;
        margin-left: -60%;
        transition: all 0.5s;
    }
    header nav ul li{
        float: none;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    header nav ul li:hover{
        background-color: rgba(255, 255, 255, .1);
    }
    header nav ul li a:hover{
        color: white;

    }
    .logo{
        display: none;
    }
    .menu-bar{
        display: block;
        width: 100%;
        background-color: black;
       
        
    }

    .menu-bar .menu-logo{
        display: block;
        padding: 13px;
        color: white;
        text-decoration: none;
        font-family: rale;
        font-size: 30px;
    }

    .menu-bar .menu-logo a{
        text-decoration: none;
        color: white;
    }

    .menu-bar .menu-logo span:hover{
        color: rgb(0, 197, 197);
    }

    .menu-bar .menu-logo a:hover{
        color: rgb(0, 197, 197);
    }
    
    .menu-logo span{
        float: right;
    }
    .nav-display{
        margin: 0;
        
        /*transition: all 0.5s;*/
    }

    .nav-ocul{
        margin-left: -60%;
        /*transition: all 0.5s;*/
    }

}